.card-container {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 20px;
  background-color: var(--green);
}

.card {
  background-color: #2b665e;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  padding: 16px;
  text-align: left;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #1e4e4a;
  border-radius: 20px;
}

.card p {
  margin: 0;
  padding: 1rem;
  font-size: 1.2rem;
  color: #ffffff;
}
